<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  
  <header>
    <div class="lista">
        <a href="/tarjeta">Productos</a>
        <a href="/">Sobre nosotros</a>
        <a href="/login">Iniciar sesión</a>
        <a href="/registro">Registrarse</a>
    </div>
    <div class="logo">
        <div>
          <a href="/"><h2>Crochet<b>Gonbel</b></h2></a>
        </div>
    </div>
    </div>
</header>
<div class="todito">
<div class="todo1">

  <div class="un">
  <div class="card_vt">
    <div class="content">
      <a href="">Inventario</a>
    </div>
  </div>

    <div class="card_morado" >
      <div class="content">
        <a href="">Pedidos</a>
      </div>
    </div>
  </div>

  <div class="dos">
      <div class="card_rojo" >
        <div class="content">
          <a href="">Editar Producto</a>
        </div>
      </div>

        <div class="card_rosado">
          <div class="content">
            <a href="">Agregar producto</a>
          </div>
        </div>
    </div>

    
</div>

<div class="tres">
      <div class="admini" >
        <img class="ad" src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/bra_xdiojo.jpg" alt="">
        <div class="content2">
          <a href="">Brallan "mechas"</a>
        </div>
      </div>
    </div>

</div>

      <footer>
        <div id="copy"><p>&copy;2017 all rights reserved by Syed Miraj.</p>
        <p>crochetgonbel@gmail.com</p></div>
    </footer>

</body>
</html>