<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/styles.css">
  <title>Document</title>
</head>
<header>
  <nav>
      <div class="logo">
          <div>
              <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
          </div>
      </div>
  </nav>
</header>
<body>
  <div class="iniciar">
  <div class="login-wrap">
    <div class="login-html">

      
<form action="/cambio" method="post">
       <div class="login-form">
        <div class="sign-in-htm">
          
          <div class="group">
            <label for="pass" class="label">Nueva Contraseña</label>
            <input id="pass" type="password" class="input" data-type="password" name="password">
          </div>
          <div class="group">
                        <button>cambiar</button>
          </div>
          <div class="hr"></div>
          
        </div>
      </div>
        </form>


       
      </div>
    </div>
  </div>
</div>
</body>
</html>