<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.productos.css">
    <title>Carrito compra</title>
</head>
<body>
    <header>
        <div class="lista">
            <a href="/">inicio</a>
            <a href="/productos">Productos</a>
            <a href="/coleccion">Colección</a>
            <a href="">Contactanos</a>
        </div>
        <div class="carrito">
            <a href="/login">Iniciar sesión</a>
            <a href="/carrito"><img id="carrito"src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/pngwing.com_ezam7q.png" alt=""></a>
        </div>
        <div class="logo">
            <div>
                <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
            </div>
        </div>
    </header>
    <div class="todore">
        <section class="titulow">
            Carrito de compras
        </section>
    </div>
    <div class="aunno">
        Aun no tienes nada agregado al carrito
    </div>
<footer>
    <a href="footer"></a>
    <hr>
    <div class="contenidof">
        <div class="comparte">
            <h4>Siguenos en</h4>
            <p>Facebook / Instagram</p>
        </div>
        <div class="copy">
            &copy By Brallan/Kevin/Yeison. producto de CreochetGonbel.com
        </div>
    </div>
</footer>
</body>
</html>