<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/styles.css">
  <title>Document</title>
</head>


<body>
    <header>
        <nav>
            <div class="logo">
                <div>
                    <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
                </div>
            </div>
            <div class="lista">
                <a href="/">inicio</a>
                <a href="/login">Iniciar sesión</a>
                <a href="/coleccion">Colección</a>
                <a href="">Contactanos</a>
            </div>
            <div class="carrito">
                <a href="/carrito"><img id="carrito"src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/pngwing.com_ezam7q.png" alt=""></a>
                <a href="/productos">/ Productos</a>
            </div>
        </nav>
    </header>
    <div class="todore">
        <section class="titulow">
            Nuestros productos
        </section>
        <div class="colecciones">
            <div class="sol"> 
                <div class="backsol">
                    <div class="imgsol"><img src="https://res.cloudinary.com/crochet/image/upload/v1663990127/crochet/WhatsApp_Image_2022-09-23_at_6.54.43_PM_lvbukc.jpg" alt="abrigo gris">
                    </div>
                </div>
                <div class="textosol">
                    <p id="grande">Coleccion solar</p>
                    <button id="btn_sol">Compra ahora</button>
                </div>
               
                
            </div>

            <div class="luna">
                <div class="textoluna">
                    <p id="grande">Coleccion Lunar</p>
                    <button id="btn_luna">Compra ahora</button>
                </div>
                <div class="backluna">
                    <div class="imgluna"><img src="https://res.cloudinary.com/crochet/image/upload/v1663990033/crochet/WhatsApp_Image_2022-09-23_at_6.54.42_PM_3_g4kj1o.jpg" alt="abrigo gris">
                    </div>
                </div>
                
            </div>

            <div class="rocas">
                <div class="textoRocas">
                    <p id="grande">Coleccion blanco y negro</p>
                    <button id="btn_rocas">Compra ahora</button>
                </div>
                <div class="backRocas">
                    <div class="imgRocas"><img src="https://res.cloudinary.com/crochet/image/upload/v1664042977/crochet/WhatsApp_Image_2022-09-23_at_6.57.57_PMd_ovqvqr.jpg" alt="abrigo gris">
                    </div>
                </div>
                
            </div>
        </div>

    </div>
  <section class="registrocj">
    <div class="cajaregistro">
        <p>Registrate para recibir notificaciones</p>
        <a href="/login"><button class="caja">Registrarse</button></a>
    </div>
</section>

  <footer>
    <a href="footer"></a>
    <hr>
    <div class="contenidof">
        <div class="comparte">
            <h4>Siguenos en</h4>
            <p>Facebook / Instagram</p>
        </div>
        <div class="copy">
            &copy By Brallan/Kevin/Yeison. producto de CreochetGonbel.com
        </div>
    </div>
</footer>
</body>

</html>