<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/styles.css">
  <title>Document</title>
</head>
<header>
  <nav>
      <div class="logo">
          <div>
              <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
          </div>
      </div>
  </nav>
</header>
<body>
<div class="fondo">
  
<div class="tt">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Correo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      
        <th scope="row">1</th>
        <td> <%= email %>  </td>
        <td> <%= name %>  </td>
        <td> <%= telefono %>  </td>
      </tr>
    </tbody>
  </table>
  <a href="/"><button>Regresar</button></a>
</div>
</div>
</body>
</html>