<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <title>Crochetgonbel</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <div>
                    <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
                </div>
            </div>
            <div class="lista">
                <a href="/">inicio</a>
                <a href="/login">Iniciar sesión</a>
                <a href="/coleccion">Colección</a>
                <a href="">Contactanos</a>
            </div>
            <div class="carrito">
                <a href="/carrito"><img id="carrito"src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/pngwing.com_ezam7q.png" alt=""></a>
                <a href="/productos">/ Productos</a>
            </div>
        </nav>
    </header>
    <div class="estilo">
        <div class="textoEstilo">
            <h2>Encuentra tu propio estilo</h2>
            <p>busca lo que te guste</p>
           <a href="/login"><button class="btnEstilo">Ingresa aquí</button></a> 
        </div>
        <div class="imagenEstilo">
            <img src="https://res.cloudinary.com/crochet/image/upload/v1663980969/crochet/6d582dc0a68942121c76c3729a5321e5_apoapz.jpg" alt="abrigo gris">

            <img src="https://res.cloudinary.com/crochet/image/upload/v1663990033/crochet/WhatsApp_Image_2022-09-23_at_6.54.42_PM_3_g4kj1o.jpg" alt="">

            <img src="https://res.cloudinary.com/crochet/image/upload/v1663990127/crochet/WhatsApp_Image_2022-09-23_at_6.54.44_PM_ieo7xo.jpg" alt="">

            <img src="https://res.cloudinary.com/crochet/image/upload/v1663990127/crochet/WhatsApp_Image_2022-09-23_at_6.54.43_PM_lvbukc.jpg" alt="">

            <img src="https://res.cloudinary.com/crochet/image/upload/v1663986610/crochet/vestido_10_dvl3fb.jpg" alt="">
        </div>
    </div>
    <seccion class="productos">
            <div class="TituloPro">
                <h2>Algunos productos</h2>
            </div>
            <div class="galeriaPro">
                <img src="https://res.cloudinary.com/crochet/image/upload/v1663990033/crochet/WhatsApp_Image_2022-09-23_at_6.54.42_PM_lqj8rj.jpg" alt="">
                <img src="https://res.cloudinary.com/crochet/image/upload/v1663990127/crochet/WhatsApp_Image_2022-09-23_at_6.57.58_PM_2_k1cg1j.jpg" alt="">
                <img src="https://res.cloudinary.com/crochet/image/upload/v1663990034/crochet/WhatsApp_Image_2022-09-23_at_6.54.42_PM_2_bbmezb.jpg" alt="">
                <img src="https://res.cloudinary.com/crochet/image/upload/v1663990127/crochet/WhatsApp_Image_2022-09-23_at_6.54.43_PM_lvbukc.jpg" alt="">
            </div>
    </seccion>

    <section class="registrocj">
        <div class="cajaregistro">
            <p>¿Lista para comprar?</p>
            <a href="/productos"><button class="caja">Compra ahora</button></a>
        </div>
    </section>

    <footer>
        <div class="hr"><hr></div>
        
        <div class="contenidof">
            <div class="comparte">
                <h4>Siguenos en</h4>
                <p>Facebook / Instagram</p>
            </div>
            <div class="copy">
                © By Brallan/Kevin/Yeison. producto de CreochetGonbel.com
            </div>
        </div>
    </footer>
</html>