<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <title>Crochetgonbel</title>
</head>
<body>
    <header>
        <div class="lista">
            <a href="/">inicio</a>
            <a href="/productos">Productos</a>
            <a href="/coleccion">Colección</a>
            <a href="">Contactanos</a>
        </div>
        <div class="carrito">
            <a href="/login">Iniciar sesión</a>
            <a href="/carrito"><img id="carrito"src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/pngwing.com_ezam7q.png" alt=""></a>
        </div>
        <div class="logo">
            <div>
                <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
            </div>
        </div>
    </header>

<div class="separacion">

    <section class="todo">

        <div class="rocas">
            <div class="textoRocas">
                <p id="grande">Encuentra tu propio estilo</p>
                <p>encuentra lo que más te guste</p>
                <button id="btn_rocas">Compra ahora</button>
            </div>
            <div class="backRocas">
                <div class="imgRocas"><img src="https://res.cloudinary.com/crochet/image/upload/v1663980969/crochet/6d582dc0a68942121c76c3729a5321e5_apoapz.jpg" alt="abrigo gris">
                </div>
            </div>
            
        </div>

        <div class="doble">
            <div class="verde">
                <img src="https://res.cloudinary.com/crochet/image/upload/v1663985721/crochet/Sin_t%C3%ADtulo-1_hidukx.jpg" alt="">
                <p>crop top</p>
            </div>
            <div class="morado">
             <img src="https://res.cloudinary.com/crochet/image/upload/v1663986610/crochet/vestido_10_dvl3fb.jpg" alt="" id="imagenVision">
             <p>Vestidos</p>
            </div>
        </div>
    </section>

    <section class="cafeClaro">
             <div class="textoarticulo">
                <p>Algunos productos</p>
            </div>
        <article class="productos">
           
            <div class="imagenesarticulo">

                <img id="i1" src="https://res.cloudinary.com/crochet/image/upload/v1663988995/crochet/WhatsApp_Image_2022-09-23_at_6.57.58_PM_cich6a.jpg" alt="">
                <img id="i2" src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/tp0b5hrcol005-2_1_exbto7.jpg" alt="">
                <img id="i3" src="https://res.cloudinary.com/crochet/image/upload/v1663989063/crochet/WhatsApp_Image_2022-09-23_at_6.57.58_PM_1_qavnz8.jpg" alt="">
                <img id="i4" src="https://res.cloudinary.com/crochet/image/upload/v1663988939/crochet/WhatsApp_Image_2022-09-23_at_6.57.57_PM_pqrarp.jpg" alt="">

                <p class="Salidas_de_baño">Salidas de baño</p>
                <p class="Crop_tops">Crop tops</p>
                <p class="Vestidos">Vestidos</p>
                <p class="Camisas">Camisas</p>

                <hr>

                <p class="precio">$60000</p>
                <p class="precio">$60000</p>
                <p class="precio">$60000</p>
                <p class="precio">$60000</p>
            </div>
        </article>
    </section>

    <section class="comunidad">

        <div class="titulocomunidad">
            <p>#CrochetGonbel</p>
        </div>
        <div class="centrargaleria">
            <div class="galeria">
                <div class="img1"></div>
                <div class="img2"></div>
                <div class="img3"></div>
                <div class="img4"></div>
                <div class="img5"></div>
                <div class="img6"></div>
                <div class="img7"></div>
                <div class="img8"></div>
                <div class="img9"></div>
                <div class="img10"></div>
                <div class="img11"></div>
                <div class="img12"></div>
            </div>
        </div>

        
    </section>

    <section class="registrocj">
        <div class="cajaregistro">
            <p>Registrate para recibir notificaciones</p>
            <a href="/login"><button class="caja">Registrarse</button></a>
        </div>
    </section>
</div>
    
    <footer>
        <a href="footer"></a>
        <hr>
        <div class="contenidof">
            <div class="comparte">
                <h4>Siguenos en</h4>
                <p>Facebook / Instagram</p>
            </div>
            <div class="copy">
                &copy By Brallan/Kevin/Yeison. producto de CreochetGonbel.com
            </div>
        </div>
    </footer>
</body>
</html>