<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/style.insertar.css">
  <title>Document</title>
</head>
<header>
  <div class="lista">
      <a href="/tarjeta">Productos</a>
      <a href="/">Sobre nosotros</a>
      <a href="/login">Iniciar sesión</a>
      <a href="/registro">registrarse</a>
  </div>
  <div class="logo">
      <div>
        <a href="/"><h2>Crochet<b>Gonbel</b></h2></a>
      </div>
  </div>
  </div>
</header>
<body>
  <div class="insertar">
  <div class ="cuadro">
      <h2>Arrastra y suelta imagenes</h2>
      <span>O</span>
      <button>Selecciona tus archivos</button>
      <input type="file" name="" id="input-file" hidden multiple/>
  </div>

  <div id="preview"></div>
</div>
  <footer>
    <div id="copy"><p>&copy;2017 all rights reserved by Syed Miraj.</p>
    <p>crochetgonbel@gmail.com</p></div>
</footer>
</body>
</html>
