<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/style.productos.css">
  <title>Document</title>
</head>


<body>
  <header>
  <div class="lista">
    <a href="/">inicio</a>
    <a href="/productos">Productos</a>
    <a href="/coleccion">Colección</a>
    <a href="">Contactanos</a>
</div>
<div class="carrito">
    <a href="/login">Iniciar sesión</a>
    <a href="/carrito"><img id="carrito"src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/pngwing.com_ezam7q.png" alt=""></a>
</div>
<div class="logo">
    <div>
        <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
    </div>
</div>
</header>
  <div class="todore">
    <section class="titulow">
      Nuestros productos
    </section>
    <section class="filtro">
      <div class="estilo">
        <div class="pgrande"><p>Filtrar por...</p></div>
        <hr>
        <div id="menu">
        <p><b id="rg">Estilo</b></p>
          <ul>
            <li><input type="radio" name="es" id="rojo"> Todos</li>
            <li><input type="radio" name="es" id="rojo"> Crop tops</li>
            <li><input type="radio" name="es" id="rojo"> Vestidos</li>
            <li><input type="radio" name="es" id="rojo"> Salidas de baño</li>
            <li><input type="radio" name="es" id="rojo"> Camisas</li>
        </ul>
      </div>
        </div>
        <hr>
        <div class="color">
          <p><b id="rg">Color</b></p>
          <ul>
            <li><input type="radio" name="col" id="rojo"> rojo</li>
            <li><input type="radio" name="col" id="verde"> verde</li>
            <li><input type="radio" name="col" id="azul"> azul</li>
            <li><input type="radio" name="col" id="morado"> morado</li>
            <li><input type="radio" name="col" id="negro"> negro</li>
            <li><input type="radio" name="col" id="blenco"> blanco</li>
          </ul>
        </div>
        <hr>
        <div class="tamaño">
          <p><b id="rg">Tamaño</b></p>
          <ul>
            <li><input type="radio" name="ta" id="tam"> grande</li>
            <li><input type="radio" name="ta" id="tam"> mediano</li>
            <li><input type="radio" name="ta" id="tam"> pequeño</li>
          </ul>
        </div>
        <hr>
    </section>
    <section class="compra">  
        <div class="cuadros">
          <div class="tarjeta1">
            <div class="cuadro">
              <div class="titulo">
                <h3>Croptop</h3>
              </div>
              <div class="imagen">
                  <img src="https://res.cloudinary.com/crochet/image/upload/v1662378997/crochet/descarga_ncno1c.jpg" alt="">
              </div>
              <div class="precio">
                <p>150$</p>
              </div>
            </div>
          </div>
          <div class="tarjeta2">
            <div class="cuadro">
              <div class="titulo">
                <h3>Crochet</h3>
              </div>
              <div class="imagen">
                
                  <img src="https://res.cloudinary.com/crochet/image/upload/v1662378999/crochet/3549c9041b65a49e35dbb6cbe6bee884_ebx0ym.jpg" alt="">
              </div>
              <div class="precio">
                <p>150$</p>
              </div>
            </div>
          </div>
          <div class="tarjeta3">
            <div class="cuadro">
                <div class="titulo">
                  <h3>Camison</h3>
                </div>
                <div class="imagen">
                  
                    <img src="https://res.cloudinary.com/crochet/image/upload/v1662378997/crochet/hola_ery81l.jpg" alt="">
                
                </div>
                <div class="precio">
                  <p>150$</p>
                </div>
              </div>
          </div>
          <div class="tarjeta4">
            <div class="cuadro">
                <div class="titulo">
                  <h3>Zapatos para bebe</h3>
                </div>
                <div class="imagen">
                  
                    <img src="https://res.cloudinary.com/crochet/image/upload/v1662378999/crochet/zapaticos_zufusv.jpg" alt="">
                
                </div>
                <div class="precio">
                  <p>150$</p>
                </div>
              </div>
          </div>
          <div class="tarjeta5">
            <div class="cuadro">
                <div class="titulo">
                  <h3>Jirafa</h3>
                </div>
                <div class="imagen">
                  
                    <img src="https://res.cloudinary.com/crochet/image/upload/v1662378997/crochet/jirafa_eokru8.jpg" alt="">
                
                </div>
                <div class="precio">
                  <p>150$</p>
                </div>
              </div>
          </div>
          <div class="tarjeta6">
            <div class="cuadro">
                <div class="titulo">
                  <h3>Capa de mago</h3>
                </div>
                <div class="imagen">
                  
                    <img src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/capa_ouzuna.jpg" alt="">
                
                </div>
                <div class="precio">
                  <p>150$</p>
                </div>
              </div>
          </div>
          <div class="tarjeta7">
            <div class="cuadro">
                <div class="titulo">
                  <h3>Saco</h3>
                </div>
                <div class="imagen">
                  
                    <img src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/saco_cmdyf0.jpg" alt="">
                
                </div>
                <div class="precio">
                  <p>150$</p>
                </div>
              </div>
          </div>
          <div class="tarjeta8">
            <div class="cuadro">
                <div class="titulo">
                  <h3>Pantuflas</h3>
                </div>
                <div class="imagen">
                  
                    <img src="https://res.cloudinary.com/crochet/image/upload/v1662378997/crochet/pantuflas_ptbmrg.jpg" alt="">
                
                </div>
                <div class="precio">
                  <p>150$</p>
                </div>
            </div>
        </div>
      </div>
    </section>
  </div>

  <section class="registrocj">
    <div class="cajaregistro">
        <p>Registrate para recibir notificaciones</p>
        <a href="/login"><button class="caja">Registrarse</button></a>
    </div>
</section>

  <footer>
    <a href="footer"></a>
    <hr>
    <div class="contenidof">
        <div class="comparte">
            <h4>Siguenos en</h4>
            <p>Facebook / Instagram</p>
        </div>
        <div class="copy">
            &copy By Brallan/Kevin/Yeison. producto de CreochetGonbel.com
        </div>
    </div>
</footer>
</body>

</html>