<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/styles.css">
  <title>Document</title>
</head>
<header>
  <nav>
      <div class="logo">
          <div>
              <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
          </div>
      </div>
  </nav>
</header>
<body>

  <div class="iniciar">
    <div class="login-wrap">
      <div class="login-html">
        <label for="tab-1" class="tab">Registrarse</label>
          <form action="/registrar" method="post">
            <div class="group">
              <label for="user" class="label">Correo</label>
              <input type="email" class="input" name="email" required>
            </div>
            
            <div class="group">
              <label for="pass" class="label">Nombre de usuario</label>
              <input id="pass" type="text" class="input" name="name" required>
            </div>

            <div class="group">
              <label for="pass" class="label">Telefono</label>
              <input id="pass" type="number" class="input" data-type="password" name="number">
            </div>

            <div class="group">
              <label for="pass" class="label">Contraseña</label>
              <input id="pass" type="password" class="input" data-type="password" name="password" required>
            </div>

            <div class="group">
              <button>registrar</button>
            </div>
            <div class="foot-lnk">
              <a id="requp" href="/login"><label for="tab-1">¿Ya estas suscrito?</a>
            </div>
       </div>
    </div>
  </div>
      </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>