<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/styles.css">
  <title>Document</title>
</head>
<body>

<header>
  <div class="lista">
    <a href="tarjeta_de_producto.html">Productos</a>
    <a href="index.html">Sobre nosotros</a>
    <a href="/login.html">Iniciar sesión</a>
    <a href="/registro.html">Registrarse</a>
  </div>  
  <div class="carrito">
    <a href="carritoCompra.html"><img id="carrito"src="../Pagina/images/pngwing.com.png" alt=""></a>
</div>
  <div class="logo">
    <div>
      <a href="index.html"><h2>Crochet<b>Gonbel</b></h2></a>
    </div>
  </div>
  </div>
</header>

<section>
    <div class="todoUser">
        <p>Click para agregar el producto que quieres que te hagan</p><a href="insertar.html">click</a>
    </div>
</section>

  <footer>
    <div id="copy"><p>&copy;2017 all rights reserved by Syed Miraj.</p>
    <p>crochetgonbel@gmail.com</p></div>
</footer>
</body>
</html>